

nav .brand-logo {
    margin-left: 20px;
}

nav li {
    margin-left: 1em;
    margin-right: 1em;
}

nav .brand-logo, nav ul li, nav ul li a {
    color: #fef9e7 !important;
/*    color: red !important;*/
}

body {
    background: #fef9e7;
}


.flower-background {
    width: 100%;
    height: 20px;
    background: rgb(21, 2, 24);
    text-align: right;
    
}

.flower-background-image {
    height: 100%;
/*    display: none;*/
}

.starsign-container {
    width: 60%;
    max-width: 280px;
    padding-top: 10px;
    margin: auto;
}

@media only screen and (min-width: 601px) {
  .starsign-container {
    width: 60%;
    max-width: 400px;
  }
        
  .flower-background {
    height: 200px;
  }

  .flower-background-image {
    height: 100%;
/*    display: block;*/
  }


}

@media only screen and (min-width: 993px) {
  .starsign-container {
    width: 80%;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .starsign-container {
    width: 90%;
    max-width: 1400px;
  }
}


.card {
    position: relative;
    width: 100%;
}

.card a:link, a:visited, a:active   {
    color: black;
}

.card a:hover {
    color: #311b92;
}

.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.card-square {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0px !important;
    margin-top: 2px;
}

.card-image {
    height: 70%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
}


.card-content {
/*    position: absolute;*/
    padding-top: 2px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    height: 30%;
}

.card-title {
    margin-bottom: 0px;
    font-size: 16px !important;
    line-height: 16px !important;
    text-align: center;
}

.starsign-image {
/*    position: absolute;*/
/*    width: auto;*/
/*    height: 100%;*/
    max-width: 100%;
    max-height: 100%;
}

.card-small {
/*    will change the size only on a small screen*/
/*    width: 100px;*/
}

/*
.active {
    background: green;
}
*/

/*
.card {
    background: grey;
}
*/

/*
.starsigns {
    float: left;
    display: inline-block;
}

.starsign {
    width: 100px;
    float: left;
    display: inline-block;
}*/
