

nav a {
    margin-left: 20px;
}

nav li {
    margin-left: 2em;
    margin-right: 2em;
}

nav .brand-logo, nav ul li, nav ul li a {
    color: #fef9e7 !important;
/*    color: red !important;*/
}

body {
    background: #fef9e7;
}


.flower-background {
    width: 100%;
    height: 200px;
    background: rgb(21, 2, 24);
    text-align: right;
}

.flower-background-image {
    height: 100%;
}

.starsign-container {
    width: 60%;
    max-width: 280px;
    padding-top: 10px;
    margin: auto;
}

@media only screen and (min-width: 601px) {
  .starsign-container {
    width: 60%;
    max-width: 400px;
  }
}

@media only screen and (min-width: 993px) {
  .starsign-container {
    width: 80%;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .starsign-container {
    width: 90%;
    max-width: 1400px;
  }
}


.card {
    position: relative;
    width: 100%;
}

.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2px !important;
}

.card-title {
    margin-bottom: 0px;
}
.card-small {
/*    will change the size only on a small screen*/
/*    width: 100px;*/
}

/*
.active {
    background: green;
}
*/

/*
.card {
    background: grey;
}
*/

/*
.starsigns {
    float: left;
    display: inline-block;
}

.starsign {
    width: 100px;
    float: left;
    display: inline-block;
}*/
