
.activePage {
    background: green;
}

/*
.card {
    background: grey;
}
*/

/*
.starsigns {
    float: left;
    display: inline-block;
}

.starsign {
    width: 100px;
    float: left;
    display: inline-block;
}*/
