extends layout

block content
   
  include starsign-cards.jade
  

  
  div(class='container')
    br  
    a(class='waves-effect waves-light btn') button
  
    div(class='starsigns')
     for starsign in ['Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Scorpio', 'Sagittarius', 'Capricorn', 'Aquarius', 'Pisces']
      div(class='starsign' title=starsign)
        div #{starsign}
        
    a(href='birthchart') link
        




    

        
        
        
        
    //script(src='js/astrology.js')


      

