doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/materialize.css')
    script(src='js/jquery.js')
      

    meta( name='viewport', content='width=device-width, initial-scale=1' )
  body
  
    div(class='menuItem' id='abc') abc
    div(class='menuItem' id='birthchart') birthchart
    script(src='js/materialize.js')
    script(src='js/visual.js' type='text/javascript')
    script setActivePage('#{activePage}')

    div fgdfgfdg

    block content
      


