div(class='starsign-container')
    div(class='row')
     for starsign in ['Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Scorpio', 'Sagittarius', 'Capricorn', 'Aquarius', 'Pisces']
      div(class='col s4 m3 l2 xl1')
       div(class='card yellow lighten-4' title=starsign)
        div(class='card-content')
         span(class='card-title') #{starsign} 